
@{
    ViewBag.Title = "book";
}

<h2>Boka här</h2>

<form method="POST">
    <input type="text" name="Name" placeholder="Destination"/>
    <input type="text" name="Event" placeholder="Typ"/>
    <br />
    <br />
    <input type="text" name="Date" placeholder="Datum"/>
    <input type="text" name="Location" placeholder="Plats"/>
    <br /><br />
    <input type="submit" />
</form>

